<div style="margin-left: 50px; width:100%;">
    <input type="text" multiple="multiple" autofocus="autofocus" style="height: 95px; width: 100%; margin-bottom:10px; text-align:left; vertical-align:top;" aria-autocomplete="inline" aria-multiline="True" autocomplete="on" spellcheck="true" step="10"/>
    <input type="submit" value="Post" class="btn btn-primary btn-success"/>
    <div ng-repeat="item in items" style="width:100%">
        <label id="lblUser" style="font-weight: bold">{{item.user}}: </label>
        <label id="lblMsg">{{item.message}}</label>
    </div>
</div>