<!DOCTYPE html>
<html ng-app="sharingApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/js/App.js"></script>
    <script src="Scripts/js/Home.js"></script>
    <script src="Scripts/js/signup.js"></script>
    <script src="Scripts/angular-cookies.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap/bootstrap-combined.css" />
    <link rel="stylesheet" type="text/css" href="Content/App.css" />
    <meta name="fragment" content="!" />
    <title>Photo Sharing App</title>
</head>
<body>
    <div class="container">
        <div class="navbar" data-ng-init="init()" ng-controller="loginCtrl">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" name="top">Coding Bugs</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href=""><i class="icon-home"></i>Home</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href=""><i class="icon-file"></i>Pages</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href=""><i class="icon-envelope"></i>Messages</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href=""><i class="icon-signal"></i>Stats</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="" ng-click="CheckLogin()"><i class="icon-lock"></i>Permissions</a></li>
                            <li class="divider-vertical"></li>
                        </ul>
                        <ul class="nav pull-right" ng-show="!IsLogged">
                            <li><a href="" ng-click="signup()">Sign Up</a></li>
                            <li class="divider-vertical"></li>
                            <li ng-class="{'dropdown open' : IsSignInVisible == true, 'dropdown' : IsSignInVisible == false}">
                                <a class="dropdown-toggle" href="" ng-click="toggleSignIn()"><i class="icon-signin"></i>Sign In <strong class="caret"></strong></a>
                                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                    <form accept-charset="UTF-8">
                                        <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username" ng-model="username" focus-me="IsSignInVisible" required />
                                        <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password" ng-model="password" required />
                                        <!--<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
			                    <label class="string optional" for="user_remember_me"> Remember me</label>-->
                                        <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In" ng-click="login()" />
                                        <!--<label style="text-align:center;margin-top:5px">or</label>
			                    <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
			                    <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">-->
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav pull-right" ng-show="IsLogged">
                            <li><a><i class="icon-user"></i>Welcome <span>{{getUserName()}}</span>!</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="" ng-click="logout()"><i class="icon-signout"></i>Logout</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </div>
            <!--/.navbar-inner -->
        </div>
        <div ng-view></div>
    </div>
</body>
</html>
